@import "~normalize.css/normalize.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* ---font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;--- */

:root {
  --size: calc(1vh + 1vw);
  --c-red: hsl(0, 67%, 44%);
  --c-card-btn-bg: hsl(6, 78%, 57%);
  --c-gold: hsl(37, 100%, 61%);
  --c-yellow: hsl(35, 85%, 71%);
  --c-orange: hsl(27, 74%, 41%);
  --c-pink: hsl(305, 59%, 65%);
  --c-primary: hsl(264, 94%, 60%);
  --c-accent: hsl(198, 87%, 58%);
  --c-green-sm: hsl(144, 46%, 61%);
  --c-moon: hsl(198, 34%, 56%);
  --c-blue-md: hsl(220, 74%, 33%);
  --c-blue-sm: hsl(212, 100%, 83%);
  --c-blue-xxl: hsl(232, 41%, 17%);
  --c-light: hsl(180, 13%, 95%);
  --c-timer-count: hsl(180deg 2.54% 48.81%);
  --c-white: hsl(219, 20%, 84%);
  --c-dark-sm: hsl(240, 1%, 23%);
  --c-dark-md: hsl(220, 15%, 16%);
  --c-text: hsl(254, 7%, 35%);
  --c-label: hsl(249, 6%, 58%);
  --c-disabled: hsl(252, 19%, 89%);
  --c-main-bg: hsl(202, 32%, 15%);
  --c-sidebar-bg: hsl(240, 1%, 15%);
  --c-header-bg: hsl(240, 5%, 23%);
  --c-black-sm: rgba(0, 0, 0, .6);
  --box-shadow-sm: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
  --c-accordion-body-bg: hsl(221, 21%, 34%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}